@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);

$border-color: #e3e5e4;
$background-color: #c3c7ca;
$text-color: #34444f;

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

.draggable-list {
  border: 1px solid $border-color;
  color: $text-color;
  padding: 0;
  list-style: none;

  li {
    background-color: #fff;
    display: flex;
    flex: 1;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }

    &.right {
      .person-name {
        color: #3ae374;
      }
    }

    &.wrong {
      .person-name {
        color: #ff3838;
      }
    }

    &.over {
      .draggable {
        background-color: #eaeaea;
      }
    }
  }

  .number {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 52px;
    width: 52px;
  }

  .person-name {
    margin: 0 20px 0 0;
  }
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: $background-color;
  border: none;
  color: $text-color;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  transition: transform .2s;
  &:active {
    transform: scale(0.98);
  }

  .fas {
    margin-left: 8px;
  }
}

