@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: url(https://i.ibb.co/HrfVRcx/menu.png)no-repeat ;
        background-size: 30px;
        background-position: center;
        cursor: pointer;

        &.active {
            background: url(https://i.ibb.co/rt3HybH/close.png) no-repeat ;
            background-size: 25px;
            background-position: center;
        }
    }


    video { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        object-fit: cover;
        opacity: .8;
        
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;

    h2 {
        font-size: 5em;
        font-weight: 800;
        line-height: 1em;
        text-transform: uppercase;
    }

    h3 {
        font-size: 4em;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }

    p {
        font-size: 1.1em;
        margin: 20px 0;
        font-weight: 400;
        max-width: 700px;
    }

    a {
        display: inline-block;
        font-size: 1em;
        background: #fff;
        text-decoration: none;
        padding: 10px 30px;
        color: #111;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 10px;
        transition: .1s;
        &:hover {
            transform: scaleX(1.2) scaleY(1.1);
        }
    }
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style: none;

        a {
            display: inline-block;
            color: #fff;
            margin-right: 20px;
            font-size: 25px;
            transition: .5s;

            &:hover {
                transform: scale(.9) translateY(-10px);
            }
        }
    }

}