@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
}

.menu {
   
}