@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.warning {
  position: relative;
  background: #ffd48a;
  font-family: "Quicksand";
  padding: 10px;
  color: #000;
  border-radius: 2px;
  margin: 10px 0;
  font-weight: 100;
  border-left: 5px solid darken($color: #ffd48a, $amount: 50);
  box-shadow:0 2px 5px rgba($color: #000000, $alpha: 0.3);
  transition: .2s;
   h3 {
    font-size: 14px;
  }

  .close{
    position:absolute;
    width:20px;
    height:20px;
    opacity:0.5;
    border-width:1px;
    border-style:solid;
    border-radius:50%;
    right:10px;
    top:8px;
    line-height: 15px;
    text-align:center;
    font-size:20px;
    cursor:pointer;
  }

  display: none;
  &.active {
    display: block;
  }
}
.btn {
  background: #0275d8;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  margin: 20px 0;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  display: inline-block;
  box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);

  &:hover {
    filter: brightness(0.8);
  }

  &-danger {
    background: #d9534f;
  }
}

.card {
  padding: 20px;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
  .card-content {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    .card-title {
      font-size: 24px;
      filter: opacity(0.8);
    }
  }

  .input-field {
    position: relative;
    margin-top: 20px;
    input {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      outline: none;
      border: none;
      border-bottom: 2px solid #ccc;
      transition: 0.2s;

      &:focus {
        border-bottom-color: #0275d8;
      }

      &::placeholder {
        font-size: 14px;
      }
    }
  }
}

.card-action {
  #task-title {
    font-size: 18px;
    filter: opacity(0.7);
    margin-top: 20px;
  }
}


ul {
  margin-top: 20px;
  overflow:hidden;
   overflow-y:scroll;
  height: 250px;
  li {
    list-style: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
    a{
      // margin-right: 10px;
      cursor: pointer;
      color: #d9534f;
    }
  }
}

.delete {
    border-radius: 5px;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    padding: 50px 0;
    background: #fff;
    z-index: 1000000;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    box-shadow: 0 0 0 100vh rgba(#000,.5),;
    box-shadow: 0 0 0 100vw rgba(#000,.5),;
    z-index: 100;
    color: rgb(104, 104, 104);
    text-align: center;
    i {
      font-size: 3rem;
      margin-top: -100px;
      margin-bottom: 10px;
      color: #d9534f;
    }

    .btn {
      display: inline-block;
      margin:30px 20px;
    }

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0275d8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #035094;
}