a {
  font-size: 20px !important;
}

.alertUI.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e23d2779 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(230, 46, 22, 0.45) !important;
}